
.headerList{
  display: flex;
}
.bodyList{
  display: flex;
  flex-direction: column;
}
.person{
  display: flex;
  flex-direction: row;
}
.person .lastName, .person .lastName {
  display: flex;
  flex-direction: column;
  margin: 0 1rem 0 1rem;
}