.person{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #597387;
    margin-top: 0.1rem;
    padding: 0.2rem;
}
.person:first-child{
    margin-top: 0;
} 
.person .firstName, .person .lastName {
    display: flex;
    justify-content: center;
    flex-basis: 3rem;
    flex-grow: 1;
}
.person .commands{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-basis: 1rem;
    flex-grow: 2;
}
img.personIcon{
    height: 1.5rem;
}
img.actionImg
{
    height: 1rem;
    fill: white;
}